In [35]:
import pandas as pd
import numpy as np
from sklearn.tree import DecisionTreeClassifier, export_graphviz

path = '/Users/damien/Documents/Sinf/2eme_bis/2eme_quadri/QDA/project_Classification/Select.csv'
my_db = pd.read_csv(path, sep=';')

my_db.Passed[my_db["Passed"]== 1] = 'pass'
my_db.Passed[my_db["Passed"]== 0] = 'fail'

# Number of student that passed
n_pass = my_db['Passed'][my_db['Passed'] == 'pass'].count()

# Number of student that failed
n_fail = my_db['Passed'][my_db['Passed'] == 'fail'].count()

# Total rows
total_ppl = my_db['Passed'].count()

# Number of student that passed divided by the total rows
P_pass = n_pass/total_ppl

# Number of student that failed divided by the total rows
P_fail = n_fail/total_ppl

my_db_means = my_db.groupby('Passed').mean()

test = pd.DataFrame()

test['guardian'] = [0]
test['failures'] = [0]
test['schoolsup'] = [1]
test['paid'] = [0]
test['higher'] = [1]
test['romantic'] = [0]
test['goout'] = [4]
test['age'] = [18]


my_db_means

,guardian,failures,schoolsup,paid,higher,romantic,goout,age
Passed,,,,,,,,
fail,0.438462,0.692308,0.176923,0.392308,0.900000,0.400000,3.400000,17.023077
pass,0.366038,0.158491,0.105660,0.490566,0.973585,0.301887,2.966038,16.535849

In [36]:
# Group the data by gender and calculate the variance of each feature
my_db_variance = my_db.groupby('Passed').var()

# View the values
my_db_variance

,guardian,failures,schoolsup,paid,higher,romantic,goout,age
Passed,,,,,,,,
fail,0.496184,0.989863,0.146750,0.240250,0.090698,0.241860,1.280620,1.914192
pass,0.354145,0.247513,0.094854,0.250858,0.025815,0.211549,1.161721,1.416324

In [37]:
# Means for student that pass
pass_guardian_mean = my_db_means['guardian'][my_db_variance.index == 'pass'].values[0]
pass_failures_mean = my_db_means['failures'][my_db_variance.index == 'pass'].values[0]
pass_schoolsup_mean = my_db_means['schoolsup'][my_db_variance.index == 'pass'].values[0]
pass_paid_mean = my_db_means['paid'][my_db_variance.index == 'pass'].values[0]
pass_higher_mean = my_db_means['higher'][my_db_variance.index == 'pass'].values[0]
pass_romantic_mean = my_db_means['romantic'][my_db_variance.index == 'pass'].values[0]
pass_goout_mean = my_db_means['goout'][my_db_variance.index == 'pass'].values[0]
pass_age_mean = my_db_means['age'][my_db_variance.index == 'pass'].values[0]

# Variance for student that pass
pass_guardian_variance = my_db_variance['guardian'][my_db_variance.index == 'pass'].values[0]
pass_failures_variance = my_db_variance['failures'][my_db_variance.index == 'pass'].values[0]
pass_schoolsup_variance = my_db_variance['schoolsup'][my_db_variance.index == 'pass'].values[0]
pass_paid_variance = my_db_variance['paid'][my_db_variance.index == 'pass'].values[0]
pass_higher_variance = my_db_variance['higher'][my_db_variance.index == 'pass'].values[0]
pass_romantic_variance = my_db_variance['romantic'][my_db_variance.index == 'pass'].values[0]
pass_goout_variance = my_db_variance['goout'][my_db_variance.index == 'pass'].values[0]
pass_age_variance = my_db_variance['age'][my_db_variance.index == 'pass'].values[0]


# Means for student that fail
fail_guardian_mean = my_db_means['guardian'][my_db_variance.index == 'fail'].values[0]
fail_failures_mean = my_db_means['failures'][my_db_variance.index == 'fail'].values[0]
fail_schoolsup_mean = my_db_means['schoolsup'][my_db_variance.index == 'fail'].values[0]
fail_paid_mean = my_db_means['paid'][my_db_variance.index == 'fail'].values[0]
fail_higher_mean = my_db_means['higher'][my_db_variance.index == 'fail'].values[0]
fail_romantic_mean = my_db_means['romantic'][my_db_variance.index == 'fail'].values[0]
fail_goout_mean = my_db_means['goout'][my_db_variance.index == 'fail'].values[0]
fail_age_mean = my_db_means['age'][my_db_variance.index == 'fail'].values[0]

# Variance for student that fail
fail_guardian_variance = my_db_variance['guardian'][my_db_variance.index == 'fail'].values[0]
fail_failures_variance = my_db_variance['failures'][my_db_variance.index == 'fail'].values[0]
fail_schoolsup_variance = my_db_variance['schoolsup'][my_db_variance.index == 'fail'].values[0]
fail_paid_variance = my_db_variance['paid'][my_db_variance.index == 'fail'].values[0]
fail_higher_variance = my_db_variance['higher'][my_db_variance.index == 'fail'].values[0]
fail_romantic_variance = my_db_variance['romantic'][my_db_variance.index == 'fail'].values[0]
fail_goout_variance = my_db_variance['goout'][my_db_variance.index == 'fail'].values[0]
fail_age_variance = my_db_variance['age'][my_db_variance.index == 'fail'].values[0]

In [38]:
# Create a function that calculates p(x | y):
def p_x_given_y(x, mean_y, variance_y):

    # Input the arguments into a probability density function
    p = 1/(np.sqrt(2*np.pi*variance_y)) * np.exp((-(x-mean_y)**2)/(2*variance_y))

    return p

In [40]:
# Numerator of the posterior if the unclassified observation is a student that passed
P_pass * \
p_x_given_y(test['guardian'][0], pass_guardian_mean, pass_guardian_variance) * \
p_x_given_y(test['failures'][0], pass_failures_mean, pass_failures_variance) * \
p_x_given_y(test['schoolsup'][0], pass_schoolsup_mean, pass_schoolsup_variance) * \
p_x_given_y(test['paid'][0], pass_paid_mean, pass_paid_variance) * \
p_x_given_y(test['higher'][0], pass_higher_mean, pass_higher_variance) * \
p_x_given_y(test['romantic'][0], pass_romantic_mean, pass_romantic_variance) * \
p_x_given_y(test['goout'][0], pass_goout_mean, pass_goout_variance) * \
p_x_given_y(test['age'][0], pass_age_mean, pass_age_variance)

0.00016828255001016549

In [41]:
# Numerator of the posterior if the unclassified observation is a student that failed
P_fail * \
p_x_given_y(test['guardian'][0], fail_guardian_mean, fail_guardian_variance) * \
p_x_given_y(test['failures'][0], fail_failures_mean, fail_failures_variance) * \
p_x_given_y(test['schoolsup'][0], fail_schoolsup_mean, fail_schoolsup_variance) * \
p_x_given_y(test['paid'][0], fail_paid_mean, fail_paid_variance) * \
p_x_given_y(test['higher'][0], fail_higher_mean, fail_higher_variance) * \
p_x_given_y(test['romantic'][0], fail_romantic_mean, fail_romantic_variance) * \
p_x_given_y(test['goout'][0], fail_goout_mean, fail_goout_variance) * \
p_x_given_y(test['age'][0], fail_age_mean, fail_age_variance)

0.0001487282397439619